@model List<string>


<div class="submenu" id="submenu">
    <div class="submenu-content">
        <p class="submenu-title">Hakkımda</p>
        <p class="submenu-item">İsim: @Model[0]</p>
        <p class="submenu-item">Meslek: @Model[1]</p>
        <p class="submenu-item">E-posta: @Model[2]</p>
    </div>
</div>