<html>
<head>
    <title>CSHTML İçinde CSS Kullanımı</title>
    <style>
        .centered-heading {
            text-align: center;
            color: blue;
        }
    </style>
</head>
<body>
    <div class="centered-heading">
        <h3>Web Eğitimleri Örnek Projesine Hoşgeldiniz!</h3>
    </div>
</body>
</html>


