@{
    Layout = null;
}

<html lang="tr-Tr">
<head>
    <!-- Veri hakkında bigi anlamına gelir meta!-->
    <meta charset="UTF-8" />
    <link href="~/Css/style.css" rel="stylesheet" />
    <title>HTML Hakkında</title>
</head>
<body>
    <header class="Ana-Başlık">
        <h1>📗 HTML OKUMA MATERYALİ</h1>
        <nav>
            <a class="Links" href="Anasayfa/Anasayfa.cshtml">Anasayfa</a>
            <a class="Links" href="#" target="_blank">Boş Link</a>
            <a class="Links" href="#">Flexbox</a>
            <a class="Links" href="#">CSS GRİD</a>
        </nav>
    </header>
    <article>
        <header>
            <!-- Her web sayfasında sadece bir tane h1 olabilir.!-->
            <!--alt : Bu chrome gibi araçların resimde ne olduğunu anlamasına yardımcı olur. Ayrıca görme engelli kişilerinde resmi anlayabilmesini sağlar.-->
            <h2 class="Başlık">
                Bir Web Etiketleme Dili Olan : <b id="HTML">HTML</b>
            </h2>
            <img src="~/ImageSource/Tokya-Ghoul-Profile.jpg"
                 alt="My Profile Picture"
                 height="75"
                 width="85" />
            <p id="Yazar">
                <strong>Tahiri Fidan</strong> tarafından çarşamba günü yazıldı, 9
                Ağustos 2023
            </p>

            <img src="~/ImageSource/post-img.jpg"
                 alt="HTML code içeren resim"
                 width="500"
                 height="200" />
        </header>

        <p>
            Tüm modern web siteleri ve web uygulamaları üç <em>temel</em> teknoloji
            kullanılarak oluşturulmuştur: HTML, CSS ve JavaScript. Bunlar web
            dilleridir.
        </p>

        <p>
            Bu yazıda, HTML'ye odaklanalım. HTML'nin neyle ilgili olduğunu ve sizin
            de neden öğrenmeniz gerektiğini öğreneceğiz.
        </p>
        <h3>HTML Nedir?</h3>
        <p>
            HTML, <strong>M</strong>etin <strong>İ</strong>şaretleme
            <strong>D</strong>ili anlamına gelir. Web geliştiricilerinin bir web
            sayfasının içeriğini yapılandırmak ve açıklamak için kullandıkları bir
            biçimlendirme dilidir (bir programlama dili değil).
        </p>
        <p>
            HTML, farklı içerik türlerini tanımlayan öğelerden oluşur: paragraflar,
            bağlantılar, başlıklar, resimler, video vb. Web tarayıcıları HTML'yi
            anlar ve HTML kodunu web siteleri olarak işler.
        </p>
        <p>HTML'de her öğe 3 bölümden oluşur:</p>
        <ol class="Üçlü">
            <!-- Ordered List => Sıralı Liste-->
            <li><em>Açılış etiketi</em></li>
            <!--List Item => Liste elemanı-->
            <li><em>Kapanış etiketi</em></li>
            <li><em>Asıl eleman</em></li>
        </ol>
        <!-- target : _blank parametresini laırsa linki tıkladığında açık olan sayfa kapanmıyacak onun yerine linki yeni sekmede açacaktır.-->
        <p>
            Daha fazla bilgi için
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"
               target="_blank">MDN Web Docs.</a>
        </p>
        <h3>Neden HTML Öğrenmeliyim</h3>
        <p>
            Web'in temel dilini öğrenmek için sayısız neden var. İşte bunlardan 5
            tanesi:
        </p>
        <ul>
            <!-- UnOrdered List => Sırasız Liste-->
            <li>Temel web geliştirme dilini kullanabilmek</li>
            <li>
                Worpress veya Wix gibi araçlara güvenmek yerine güzel web sitelerini
                elle oluşturmak için
            </li>
            <li>Web uygulamaları oluşturmak için</li>
            <li>Arkadaşları etkilemek için</li>
            <li>Eğlenmek için 😃</li>
        </ul>
        <p class="Dilek-Mesajı">
            Umarız burada yeni bir şeyler öğrenmişsinizdir. Bir dahaki sefere
            görüşürüz!
        </p>
    </article>
    <!-- Kenar etiketidir. Ana bölümle doğrudan ilgisi olmayan ikincil bilgi içeren bölümdür-->
    <aside>
        <div>
            <h4>İlgili Makaleler</h4>
            <ul class="İlgili-Makaleler">
                <li>
                    <img src="~/ImageSource/related-1.jpg"
                         alt="Kod yazan adam"
                         height="75"
                         width="75" />&nbsp; <a href="adam.html">Kod yazan adam</a>
                    <h5 class="İlgili-Yazar"><em>By Ahmet Eldemir</em></h5>
                </li>
                <li>
                    <img src="~/ImageSource/related-2.jpg"
                         alt="Şimşek"
                         height="75"
                         width="75" />&nbsp;<a href="fırtına.html">Fırtınalar hakkında derin bilgiler</a>
                    <h5 class="İlgili-Yazar"><em>By Sadık Sünbül</em></h5>
                </li>
                <li>
                    <img src="~/ImageSource/related-3.jpg"
                         alt="Bir takım kodlar"
                         height="75"
                         width="75" />&nbsp;<a href="kod.html">Derinlemesine kod yazma sanatı</a>
                    <h5 class="İlgili-Yazar"><em>By Tahiri Fidan</em></h5>
                </li>
            </ul>
        </div>
    </aside>
    <!--Alt bilgi-->
    <footer>
        <p id="Copyright">Copyright &copy; 2023 by Via Team</p>
    </footer>
</body>
</html>
