<html lang="tr-Tr">
<head>
    <!-- Veri hakkında bigi anlamına gelir meta!-->
    <meta charset="UTF-8" />
    <title>HTML Hakkında</title>
</head>
<body>

    <h1>📗 HTML OKUMA MATERYALİ</h1>
    <nav>
        <a href="blog.html" target="_blank">Blogs</a>
        <a href="#">Boş Link</a>
        <a href="#">Flexbox</a>
        <a href="#">CSS GRİD</a>
    </nav>

    <article>

        <!-- Her web sayfasında sadece bir tane h1 olabilir.!-->
        <!--alt : Bu chrome gibi araçların resimde ne olduğunu anlamasına yardımcı olur. Ayrıca görme engelli kişilerinde resmi anlayabilmesini sağlar.-->
        <h2>Bir web etiketleme dili olan : HTML</h2>
        <img src="~/ImageSource/Tokya-Ghoul-Profile.jpg"
             alt="My Profile Picture"
             height="50"
             width="50" />
        <p>
            <strong>Tahiri Fidan</strong> Tarafından Çarşamba Günü yazıldı, 9
            Ağustos 2023
        </p>
        <img src="~/ImageSource/post-img.jpg"
             alt="HTML code içeren resim"
             width="500" />


        <p>
            Tüm modern web siteleri ve web uygulamaları üç <em>temel</em> teknoloji
            kullanılarak oluşturulmuştur: HTML, CSS ve JavaScript. Bunlar web
            dilleridir.
        </p>

        <p>
            Bu yazıda, HTML'ye odaklanalım. HTML'nin neyle ilgili olduğunu ve sizin
            de neden öğrenmeniz gerektiğini öğreneceğiz.
        </p>
        <h3>HTML Nedir?</h3>
        <p>
            HTML, <strong>M</strong>etin <strong>İ</strong>şaretleme
            <strong>D</strong>ili anlamına gelir. Web geliştiricilerinin bir web
            sayfasının içeriğini yapılandırmak ve açıklamak için kullandıkları bir
            biçimlendirme dilidir (bir programlama dili değil).
        </p>
        <p>
            HTML, farklı içerik türlerini tanımlayan öğelerden oluşur: paragraflar,
            bağlantılar, başlıklar, resimler, video vb. Web tarayıcıları HTML'yi
            anlar ve HTML kodunu web siteleri olarak işler.
        </p>
        <p>HTML'de her öğe 3 bölümden oluşur:</p>
        <ol>
            <!-- Ordered List => Sıralı Liste-->
            <li><em>Açılış etiketi</em></li>
            <!--List Item => Liste elemanı-->
            <li><em>Kapanış etiketi</em></li>
            <li><em>Asıl eleman</em></li>
        </ol>
        <!-- target : _blank parametresini laırsa linki tıkladığında açık olan sayfa kapanmıyacak onun yerine linki yeni sekmede açacaktır.-->
        <p>
            Daha fazla bilgi için
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"
               target="_blank">MDN Web Docs.</a>
        </p>
        <h3>Neden HTML Öğrenmeliyim</h3>
        <p>
            Web'in temel dilini öğrenmek için sayısız neden var. İşte bunlardan 5
            tanesi:
        </p>
        <ul>
            <!-- UnOrdered List => Sırasız Liste-->
            <li>Temel web geliştirme dilini kullanabilmek</li>
            <li>
                Worpress veya Wix gibi araçlara güvenmek yerine güzel web sitelerini
                elle oluşturmak için
            </li>
            <li>Web uygulamaları oluşturmak için</li>
            <li>Arkadaşları etkilemek için</li>
            <li>Eğlenmek için 😃</li>
        </ul>
        <p>
            Umarız burada yeni bir şeyler öğrenmişsinizdir. Bir dahaki sefere
            görüşürüz!
        </p>
    </article>
    <!-- Kenar etiketidir. Ana bölümle doğrudan ilgisi olmayan ikincil bilgi içeren bölümdür-->
    <aside>
        <div>
            <h4>İlgili Makaleler</h4>
            <ul>
                <li>
                    <img src="~/ImageSource/related-1.jpg"
                         alt="Kod yazan adam"
                         height="75"
                         width="75" />&nbsp; <a href="adam.html">Kod yazan adam</a>
                    <h4><em>Ahmet Eldemir</em></h4>
                </li>
                <li>
                    <img src="~/ImageSource/related-2.jpg"
                         alt="Şimşek"
                         height="75"
                         width="75" />&nbsp;<a href="fırtına.html">Fırtınalar hakkında derin bilgiler</a>
                    <h4><em>Sadık Sünbül</em></h4>
                </li>
                <li>
                    <img src="~/ImageSource/related-3.jpg"
                         alt="Bir takım kodlar"
                         height="75"
                         width="75" />&nbsp;<a href="kod.html">Derinlemesine kod yazma sanatı</a>
                    <h4><em>Tahiri Fidan</em></h4>
                </li>
            </ul>
        </div>
    </aside>
    <!--Alt bilgi-->
    <footer>Copyright &copy; 2023 by Via Team</footer>
</body>
</html>

